In [4]:
#Data Analysis on Patient Data

In [5]:
import pyspark
import pandas as pd

In [6]:
pd.read_csv('data.csv') #reading the file named data.csv by using pandas module
type(pd.read_csv('data.csv'))

pandas.core.frame.DataFrame

In [7]:
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('PatientDataAnalysis').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/22 08:43:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
spark

In [10]:
patientDf = spark.read.csv('data.csv') #reading the myData.csv file by using spark session

In [11]:
patientDf

DataFrame[_c0: string, _c1: string, _c2: string]

In [12]:
patientDf.show()

+----------+---------+----+
|       _c0|      _c1| _c2|
+----------+---------+----+
|first_name|last_name| age|
|    Franny|Dunkerton|  58|
|      null|     null|  10|
|      null|     null|  17|
|      Kora|   Leaver|  33|
| Miof mela| Rawcliff|  44|
|   Sonnnie|  Tossell|  73|
|      null|     null|  41|
|     Wells|   Meharg|  70|
|      null|     null|  55|
|    Stavro|   Farrer|  31|
|     Maura|  Dearing|  75|
|     Alexa|  Howells|  12|
|     Dulci|     Ross|  42|
|    Loreen|   Storms|  77|
|    Alisha|    Beeby|  22|
|      null|     null|  11|
|        Ed|   Craggs|  92|
|    Myrvyn| Sterland|  94|
|      null|     null|null|
+----------+---------+----+
only showing top 20 rows

In [13]:
patientDf = spark.read.option('header','true').csv('data.csv')

In [14]:
spark.read.option('header','true').csv('data.csv').show() #entire dataset with specified column names

+----------+---------+----+
|first_name|last_name| age|
+----------+---------+----+
|    Franny|Dunkerton|  58|
|      null|     null|  10|
|      null|     null|  17|
|      Kora|   Leaver|  33|
| Miof mela| Rawcliff|  44|
|   Sonnnie|  Tossell|  73|
|      null|     null|  41|
|     Wells|   Meharg|  70|
|      null|     null|  55|
|    Stavro|   Farrer|  31|
|     Maura|  Dearing|  75|
|     Alexa|  Howells|  12|
|     Dulci|     Ross|  42|
|    Loreen|   Storms|  77|
|    Alisha|    Beeby|  22|
|      null|     null|  11|
|        Ed|   Craggs|  92|
|    Myrvyn| Sterland|  94|
|      null|     null|null|
|     Tedra|   Toohey|  27|
+----------+---------+----+
only showing top 20 rows

In [15]:
patientDf.head(5) #brings upmost 5 row.

[Row(first_name='Franny', last_name='Dunkerton', age='58'),
 Row(first_name=None, last_name=None, age='10'),
 Row(first_name=None, last_name=None, age='17'),
 Row(first_name='Kora', last_name='Leaver', age='33'),
 Row(first_name='Miof mela', last_name='Rawcliff', age='44')]

In [16]:
type(patientDf)
patientDf.printSchema() #for printing schema including the column name and the data type of each column

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- age: string (nullable = true)

In [17]:
spark.read.option('header','true').csv('data.csv')

DataFrame[first_name: string, last_name: string, age: string]

In [18]:
pySparkData = spark.read.option('header','true').csv('data.csv',inferSchema = True) #Â when we assign inferSchema to true, we mean that all column data types should be of their original form.

In [19]:
pySparkData.show()

+----------+---------+----+
|first_name|last_name| age|
+----------+---------+----+
|    Franny|Dunkerton|  58|
|      null|     null|  10|
|      null|     null|  17|
|      Kora|   Leaver|  33|
| Miof mela| Rawcliff|  44|
|   Sonnnie|  Tossell|  73|
|      null|     null|  41|
|     Wells|   Meharg|  70|
|      null|     null|  55|
|    Stavro|   Farrer|  31|
|     Maura|  Dearing|  75|
|     Alexa|  Howells|  12|
|     Dulci|     Ross|  42|
|    Loreen|   Storms|  77|
|    Alisha|    Beeby|  22|
|      null|     null|  11|
|        Ed|   Craggs|  92|
|    Myrvyn| Sterland|  94|
|      null|     null|null|
|     Tedra|   Toohey|  27|
+----------+---------+----+
only showing top 20 rows

In [20]:
###Checking the schema, data types of the column, and column names
##if we do not make inferSchema true in the csv function call, all column data types will be interpreted as string. 
##pySparkData = spark.read.option('header','true').csv('data.csv') #(all columns will be string type)
#pySparkData = spark.read.option('header','true').csv('data.csv',inferSchema = True) #(all columns will be of their original type)
pySparkData.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- age: integer (nullable = true)

In [21]:
pySparkData = spark.read.csv('data.csv', header = True, inferSchema = True)

In [22]:
pySparkData.show()

+----------+---------+----+
|first_name|last_name| age|
+----------+---------+----+
|    Franny|Dunkerton|  58|
|      null|     null|  10|
|      null|     null|  17|
|      Kora|   Leaver|  33|
| Miof mela| Rawcliff|  44|
|   Sonnnie|  Tossell|  73|
|      null|     null|  41|
|     Wells|   Meharg|  70|
|      null|     null|  55|
|    Stavro|   Farrer|  31|
|     Maura|  Dearing|  75|
|     Alexa|  Howells|  12|
|     Dulci|     Ross|  42|
|    Loreen|   Storms|  77|
|    Alisha|    Beeby|  22|
|      null|     null|  11|
|        Ed|   Craggs|  92|
|    Myrvyn| Sterland|  94|
|      null|     null|null|
|     Tedra|   Toohey|  27|
+----------+---------+----+
only showing top 20 rows

In [23]:
pySparkData.columns #for displaying the column names of the dataset

['first_name', 'last_name', 'age']

In [24]:
pySparkData.head(25) #getting upmost 25 data in a list format

[Row(first_name='Franny', last_name='Dunkerton', age=58),
 Row(first_name=None, last_name=None, age=10),
 Row(first_name=None, last_name=None, age=17),
 Row(first_name='Kora', last_name='Leaver', age=33),
 Row(first_name='Miof mela', last_name='Rawcliff', age=44),
 Row(first_name='Sonnnie', last_name='Tossell', age=73),
 Row(first_name=None, last_name=None, age=41),
 Row(first_name='Wells', last_name='Meharg', age=70),
 Row(first_name=None, last_name=None, age=55),
 Row(first_name='Stavro', last_name='Farrer', age=31),
 Row(first_name='Maura', last_name='Dearing', age=75),
 Row(first_name='Alexa', last_name='Howells', age=12),
 Row(first_name='Dulci', last_name='Ross', age=42),
 Row(first_name='Loreen', last_name='Storms', age=77),
 Row(first_name='Alisha', last_name='Beeby', age=22),
 Row(first_name=None, last_name=None, age=11),
 Row(first_name='Ed', last_name='Craggs', age=92),
 Row(first_name='Myrvyn', last_name='Sterland', age=94),
 Row(first_name=None, last_name=None, age=None),
 Row(first_name='Tedra', last_name='Toohey', age=27),
 Row(first_name='Kirsteni', last_name='Dewdney', age=32),
 Row(first_name='Fowler', last_name='Josskovitz', age=51),
 Row(first_name='Solomon', last_name='Piner', age=67),
 Row(first_name='Emmanuel', last_name='Tiebe', age=38),
 Row(first_name=None, last_name=None, age=52)]

In [25]:
pySparkData.select('first_name').show() #show only data under the column called first_name

+----------+
|first_name|
+----------+
|    Franny|
|      null|
|      null|
|      Kora|
| Miof mela|
|   Sonnnie|
|      null|
|     Wells|
|      null|
|    Stavro|
|     Maura|
|     Alexa|
|     Dulci|
|    Loreen|
|    Alisha|
|      null|
|        Ed|
|    Myrvyn|
|      null|
|     Tedra|
+----------+
only showing top 20 rows

In [26]:
pySparkData.select('last_name').show() #show only data under the column called last_name

+---------+
|last_name|
+---------+
|Dunkerton|
|     null|
|     null|
|   Leaver|
| Rawcliff|
|  Tossell|
|     null|
|   Meharg|
|     null|
|   Farrer|
|  Dearing|
|  Howells|
|     Ross|
|   Storms|
|    Beeby|
|     null|
|   Craggs|
| Sterland|
|     null|
|   Toohey|
+---------+
only showing top 20 rows

In [27]:
type(pySparkData.select('last_name')) #printing type of the data frame consisting of the data under the last_name column

pyspark.sql.dataframe.DataFrame

In [28]:
type(pySparkData.select('first_name')) #printing type of the data frame consisting of the data under the first_name column

pyspark.sql.dataframe.DataFrame

In [29]:
pySparkData.select(['first_name','age']) #selecting data from multiple columns

DataFrame[first_name: string, age: int]

In [30]:
pySparkData.select(['first_name','age']).show() #showing data selected from the columns under first_name and age.

+----------+----+
|first_name| age|
+----------+----+
|    Franny|  58|
|      null|  10|
|      null|  17|
|      Kora|  33|
| Miof mela|  44|
|   Sonnnie|  73|
|      null|  41|
|     Wells|  70|
|      null|  55|
|    Stavro|  31|
|     Maura|  75|
|     Alexa|  12|
|     Dulci|  42|
|    Loreen|  77|
|    Alisha|  22|
|      null|  11|
|        Ed|  92|
|    Myrvyn|  94|
|      null|null|
|     Tedra|  27|
+----------+----+
only showing top 20 rows

In [31]:
pySparkData['age'] #represents the column named as age.

Column<'age'>

In [32]:
pySparkData.dtypes #for checking the data type of each column

[('first_name', 'string'), ('last_name', 'string'), ('age', 'int')]

In [33]:
pySparkData.describe() #for describing the column names, and column types

DataFrame[summary: string, first_name: string, last_name: string, age: string]

In [34]:
pySparkData.describe().show()

+-------+----------+---------+-----------------+
|summary|first_name|last_name|              age|
+-------+----------+---------+-----------------+
|  count|       784|      784|              899|
|   mean|      null|     null|51.11679644048943|
| stddev|      null|     null|28.62130314529173|
|    min|      Abbe|   Abrahm|                1|
|    max|     Zonda|Zorzenoni|              100|
+-------+----------+---------+-----------------+

In [35]:
#########################Adding Columns ############################
####Adding a column named 'Age after 5 years' and adding 5 to the age of each record in the csv file############
pySparkData.withColumn('Age after 5 years',pySparkData['age'] + 5)

DataFrame[first_name: string, last_name: string, age: int, Age after 5 years: int]

In [36]:
#showing the updated data
pySparkData.withColumn('Age after 5 years',pySparkData['age'] + 5).show()

+----------+---------+----+-----------------+
|first_name|last_name| age|Age after 5 years|
+----------+---------+----+-----------------+
|    Franny|Dunkerton|  58|               63|
|      null|     null|  10|               15|
|      null|     null|  17|               22|
|      Kora|   Leaver|  33|               38|
| Miof mela| Rawcliff|  44|               49|
|   Sonnnie|  Tossell|  73|               78|
|      null|     null|  41|               46|
|     Wells|   Meharg|  70|               75|
|      null|     null|  55|               60|
|    Stavro|   Farrer|  31|               36|
|     Maura|  Dearing|  75|               80|
|     Alexa|  Howells|  12|               17|
|     Dulci|     Ross|  42|               47|
|    Loreen|   Storms|  77|               82|
|    Alisha|    Beeby|  22|               27|
|      null|     null|  11|               16|
|        Ed|   Craggs|  92|               97|
|    Myrvyn| Sterland|  94|               99|
|      null|     null|null|             null|
|     Tedra|   Toohey|  27|               32|
+----------+---------+----+-----------------+
only showing top 20 rows

In [37]:
#######################Dropping the columns 
pySparkData = pySparkData.drop('last_name') #dropping the column named last_name by using drop() function

In [38]:
pySparkData.show()

+----------+----+
|first_name| age|
+----------+----+
|    Franny|  58|
|      null|  10|
|      null|  17|
|      Kora|  33|
| Miof mela|  44|
|   Sonnnie|  73|
|      null|  41|
|     Wells|  70|
|      null|  55|
|    Stavro|  31|
|     Maura|  75|
|     Alexa|  12|
|     Dulci|  42|
|    Loreen|  77|
|    Alisha|  22|
|      null|  11|
|        Ed|  92|
|    Myrvyn|  94|
|      null|null|
|     Tedra|  27|
+----------+----+
only showing top 20 rows

In [39]:
####################COLUMN RENAMING ###################################
pySparkData.withColumnRenamed('first_name','new_first_name')

DataFrame[new_first_name: string, age: int]

In [40]:
#showing the updated data
pySparkData.withColumnRenamed('first_name','new_first_name').show()

+--------------+----+
|new_first_name| age|
+--------------+----+
|        Franny|  58|
|          null|  10|
|          null|  17|
|          Kora|  33|
|     Miof mela|  44|
|       Sonnnie|  73|
|          null|  41|
|         Wells|  70|
|          null|  55|
|        Stavro|  31|
|         Maura|  75|
|         Alexa|  12|
|         Dulci|  42|
|        Loreen|  77|
|        Alisha|  22|
|          null|  11|
|            Ed|  92|
|        Myrvyn|  94|
|          null|null|
|         Tedra|  27|
+--------------+----+
only showing top 20 rows

In [41]:
data = spark.read.csv('data.csv',header = True,inferSchema = True)

In [42]:
data.show()

data.printSchema()

+----------+---------+----+
|first_name|last_name| age|
+----------+---------+----+
|    Franny|Dunkerton|  58|
|      null|     null|  10|
|      null|     null|  17|
|      Kora|   Leaver|  33|
| Miof mela| Rawcliff|  44|
|   Sonnnie|  Tossell|  73|
|      null|     null|  41|
|     Wells|   Meharg|  70|
|      null|     null|  55|
|    Stavro|   Farrer|  31|
|     Maura|  Dearing|  75|
|     Alexa|  Howells|  12|
|     Dulci|     Ross|  42|
|    Loreen|   Storms|  77|
|    Alisha|    Beeby|  22|
|      null|     null|  11|
|        Ed|   Craggs|  92|
|    Myrvyn| Sterland|  94|
|      null|     null|null|
|     Tedra|   Toohey|  27|
+----------+---------+----+
only showing top 20 rows

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- age: integer (nullable = true)

In [43]:
data.drop('age').show() #dropping the column named 'age' and showing the updated data.

+----------+---------+
|first_name|last_name|
+----------+---------+
|    Franny|Dunkerton|
|      null|     null|
|      null|     null|
|      Kora|   Leaver|
| Miof mela| Rawcliff|
|   Sonnnie|  Tossell|
|      null|     null|
|     Wells|   Meharg|
|      null|     null|
|    Stavro|   Farrer|
|     Maura|  Dearing|
|     Alexa|  Howells|
|     Dulci|     Ross|
|    Loreen|   Storms|
|    Alisha|    Beeby|
|      null|     null|
|        Ed|   Craggs|
|    Myrvyn| Sterland|
|      null|     null|
|     Tedra|   Toohey|
+----------+---------+
only showing top 20 rows

In [44]:
data.na.drop().show() #dropping all rows from the dataset where the null values are present.

+----------+----------+---+
|first_name| last_name|age|
+----------+----------+---+
|    Franny| Dunkerton| 58|
|      Kora|    Leaver| 33|
| Miof mela|  Rawcliff| 44|
|   Sonnnie|   Tossell| 73|
|     Wells|    Meharg| 70|
|    Stavro|    Farrer| 31|
|     Maura|   Dearing| 75|
|     Alexa|   Howells| 12|
|     Dulci|      Ross| 42|
|    Loreen|    Storms| 77|
|    Alisha|     Beeby| 22|
|        Ed|    Craggs| 92|
|    Myrvyn|  Sterland| 94|
|     Tedra|    Toohey| 27|
|  Kirsteni|   Dewdney| 32|
|    Fowler|Josskovitz| 51|
|   Solomon|     Piner| 67|
|  Emmanuel|     Tiebe| 38|
|    Lindsy|   Waywell| 19|
|    Bryana|Lisciandri|  4|
+----------+----------+---+
only showing top 20 rows

In [45]:
data.show()

+----------+---------+----+
|first_name|last_name| age|
+----------+---------+----+
|    Franny|Dunkerton|  58|
|      null|     null|  10|
|      null|     null|  17|
|      Kora|   Leaver|  33|
| Miof mela| Rawcliff|  44|
|   Sonnnie|  Tossell|  73|
|      null|     null|  41|
|     Wells|   Meharg|  70|
|      null|     null|  55|
|    Stavro|   Farrer|  31|
|     Maura|  Dearing|  75|
|     Alexa|  Howells|  12|
|     Dulci|     Ross|  42|
|    Loreen|   Storms|  77|
|    Alisha|    Beeby|  22|
|      null|     null|  11|
|        Ed|   Craggs|  92|
|    Myrvyn| Sterland|  94|
|      null|     null|null|
|     Tedra|   Toohey|  27|
+----------+---------+----+
only showing top 20 rows

In [46]:
###how == all
data.na.drop(how="all").show() ##drop the rows where all of the row values are null and show the updated dataset

+----------+---------+---+
|first_name|last_name|age|
+----------+---------+---+
|    Franny|Dunkerton| 58|
|      null|     null| 10|
|      null|     null| 17|
|      Kora|   Leaver| 33|
| Miof mela| Rawcliff| 44|
|   Sonnnie|  Tossell| 73|
|      null|     null| 41|
|     Wells|   Meharg| 70|
|      null|     null| 55|
|    Stavro|   Farrer| 31|
|     Maura|  Dearing| 75|
|     Alexa|  Howells| 12|
|     Dulci|     Ross| 42|
|    Loreen|   Storms| 77|
|    Alisha|    Beeby| 22|
|      null|     null| 11|
|        Ed|   Craggs| 92|
|    Myrvyn| Sterland| 94|
|     Tedra|   Toohey| 27|
|  Kirsteni|  Dewdney| 32|
+----------+---------+---+
only showing top 20 rows

In [47]:
###how == any
data.na.drop(how="any").show() ##drop the rows where any of the row values is null and show the updated dataset

+----------+----------+---+
|first_name| last_name|age|
+----------+----------+---+
|    Franny| Dunkerton| 58|
|      Kora|    Leaver| 33|
| Miof mela|  Rawcliff| 44|
|   Sonnnie|   Tossell| 73|
|     Wells|    Meharg| 70|
|    Stavro|    Farrer| 31|
|     Maura|   Dearing| 75|
|     Alexa|   Howells| 12|
|     Dulci|      Ross| 42|
|    Loreen|    Storms| 77|
|    Alisha|     Beeby| 22|
|        Ed|    Craggs| 92|
|    Myrvyn|  Sterland| 94|
|     Tedra|    Toohey| 27|
|  Kirsteni|   Dewdney| 32|
|    Fowler|Josskovitz| 51|
|   Solomon|     Piner| 67|
|  Emmanuel|     Tiebe| 38|
|    Lindsy|   Waywell| 19|
|    Bryana|Lisciandri|  4|
+----------+----------+---+
only showing top 20 rows

In [48]:
#threshold 
data.na.drop(how="any", thresh=1).show() #show data which contains rows each of which has at least one non-null value.

+----------+---------+---+
|first_name|last_name|age|
+----------+---------+---+
|    Franny|Dunkerton| 58|
|      null|     null| 10|
|      null|     null| 17|
|      Kora|   Leaver| 33|
| Miof mela| Rawcliff| 44|
|   Sonnnie|  Tossell| 73|
|      null|     null| 41|
|     Wells|   Meharg| 70|
|      null|     null| 55|
|    Stavro|   Farrer| 31|
|     Maura|  Dearing| 75|
|     Alexa|  Howells| 12|
|     Dulci|     Ross| 42|
|    Loreen|   Storms| 77|
|    Alisha|    Beeby| 22|
|      null|     null| 11|
|        Ed|   Craggs| 92|
|    Myrvyn| Sterland| 94|
|     Tedra|   Toohey| 27|
|  Kirsteni|  Dewdney| 32|
+----------+---------+---+
only showing top 20 rows

In [49]:
#subset 

data.na.drop(how = "any", subset = ['last_name']).show() #drop the rows where the data in the column called last_name is null.

+----------+----------+---+
|first_name| last_name|age|
+----------+----------+---+
|    Franny| Dunkerton| 58|
|      Kora|    Leaver| 33|
| Miof mela|  Rawcliff| 44|
|   Sonnnie|   Tossell| 73|
|     Wells|    Meharg| 70|
|    Stavro|    Farrer| 31|
|     Maura|   Dearing| 75|
|     Alexa|   Howells| 12|
|     Dulci|      Ross| 42|
|    Loreen|    Storms| 77|
|    Alisha|     Beeby| 22|
|        Ed|    Craggs| 92|
|    Myrvyn|  Sterland| 94|
|     Tedra|    Toohey| 27|
|  Kirsteni|   Dewdney| 32|
|    Fowler|Josskovitz| 51|
|   Solomon|     Piner| 67|
|  Emmanuel|     Tiebe| 38|
|    Lindsy|   Waywell| 19|
|    Bryana|Lisciandri|  4|
+----------+----------+---+
only showing top 20 rows

In [50]:
#Filling the Missing Value
data.na.fill('Alex','first_name').show() #Replace the missing values under the column named first_name and show the updated data

+----------+---------+----+
|first_name|last_name| age|
+----------+---------+----+
|    Franny|Dunkerton|  58|
|      Alex|     null|  10|
|      Alex|     null|  17|
|      Kora|   Leaver|  33|
| Miof mela| Rawcliff|  44|
|   Sonnnie|  Tossell|  73|
|      Alex|     null|  41|
|     Wells|   Meharg|  70|
|      Alex|     null|  55|
|    Stavro|   Farrer|  31|
|     Maura|  Dearing|  75|
|     Alexa|  Howells|  12|
|     Dulci|     Ross|  42|
|    Loreen|   Storms|  77|
|    Alisha|    Beeby|  22|
|      Alex|     null|  11|
|        Ed|   Craggs|  92|
|    Myrvyn| Sterland|  94|
|      Alex|     null|null|
|     Tedra|   Toohey|  27|
+----------+---------+----+
only showing top 20 rows

In [51]:
data.na.fill('De Souza', 'last_name')

DataFrame[first_name: string, last_name: string, age: int]

In [52]:
data = data.na.fill('Alex','first_name') #replace all null values under first_name column with 'Alex'
data = data.na.fill('De Souza', 'last_name') #replace all null values under last_name column with 'De Souza'
data.show() #Showing the updated data

+----------+---------+----+
|first_name|last_name| age|
+----------+---------+----+
|    Franny|Dunkerton|  58|
|      Alex| De Souza|  10|
|      Alex| De Souza|  17|
|      Kora|   Leaver|  33|
| Miof mela| Rawcliff|  44|
|   Sonnnie|  Tossell|  73|
|      Alex| De Souza|  41|
|     Wells|   Meharg|  70|
|      Alex| De Souza|  55|
|    Stavro|   Farrer|  31|
|     Maura|  Dearing|  75|
|     Alexa|  Howells|  12|
|     Dulci|     Ross|  42|
|    Loreen|   Storms|  77|
|    Alisha|    Beeby|  22|
|      Alex| De Souza|  11|
|        Ed|   Craggs|  92|
|    Myrvyn| Sterland|  94|
|      Alex| De Souza|null|
|     Tedra|   Toohey|  27|
+----------+---------+----+
only showing top 20 rows

In [53]:
data.na.fill(99,'age').show() #replace all null values under age column with 99 and showing updated data frame
data.na.fill('hello',['first_name','last_name']).show() #replacing all null values under the first_name column and last-name column with 'hello'.

+----------+---------+---+
|first_name|last_name|age|
+----------+---------+---+
|    Franny|Dunkerton| 58|
|      Alex| De Souza| 10|
|      Alex| De Souza| 17|
|      Kora|   Leaver| 33|
| Miof mela| Rawcliff| 44|
|   Sonnnie|  Tossell| 73|
|      Alex| De Souza| 41|
|     Wells|   Meharg| 70|
|      Alex| De Souza| 55|
|    Stavro|   Farrer| 31|
|     Maura|  Dearing| 75|
|     Alexa|  Howells| 12|
|     Dulci|     Ross| 42|
|    Loreen|   Storms| 77|
|    Alisha|    Beeby| 22|
|      Alex| De Souza| 11|
|        Ed|   Craggs| 92|
|    Myrvyn| Sterland| 94|
|      Alex| De Souza| 99|
|     Tedra|   Toohey| 27|
+----------+---------+---+
only showing top 20 rows

+----------+---------+----+
|first_name|last_name| age|
+----------+---------+----+
|    Franny|Dunkerton|  58|
|      Alex| De Souza|  10|
|      Alex| De Souza|  17|
|      Kora|   Leaver|  33|
| Miof mela| Rawcliff|  44|
|   Sonnnie|  Tossell|  73|
|      Alex| De Souza|  41|
|     Wells|   Meharg|  70|
|      Alex| De Souza|  55|
|    Stavro|   Farrer|  31|
|     Maura|  Dearing|  75|
|     Alexa|  Howells|  12|
|     Dulci|     Ross|  42|
|    Loreen|   Storms|  77|
|    Alisha|    Beeby|  22|
|      Alex| De Souza|  11|
|        Ed|   Craggs|  92|
|    Myrvyn| Sterland|  94|
|      Alex| De Souza|null|
|     Tedra|   Toohey|  27|
+----------+---------+----+
only showing top 20 rows

In [54]:
data

DataFrame[first_name: string, last_name: string, age: int]

In [55]:
data.show()

+----------+---------+----+
|first_name|last_name| age|
+----------+---------+----+
|    Franny|Dunkerton|  58|
|      Alex| De Souza|  10|
|      Alex| De Souza|  17|
|      Kora|   Leaver|  33|
| Miof mela| Rawcliff|  44|
|   Sonnnie|  Tossell|  73|
|      Alex| De Souza|  41|
|     Wells|   Meharg|  70|
|      Alex| De Souza|  55|
|    Stavro|   Farrer|  31|
|     Maura|  Dearing|  75|
|     Alexa|  Howells|  12|
|     Dulci|     Ross|  42|
|    Loreen|   Storms|  77|
|    Alisha|    Beeby|  22|
|      Alex| De Souza|  11|
|        Ed|   Craggs|  92|
|    Myrvyn| Sterland|  94|
|      Alex| De Souza|null|
|     Tedra|   Toohey|  27|
+----------+---------+----+
only showing top 20 rows

In [56]:
from pyspark.ml.feature import Imputer

imp = Imputer(

     inputCols = ['age'],
     outputCols = ["{}_imputed".format(a) for a in ['age']]
     


).setStrategy("mean") #replace null values of the each specified column with the mean of that column
#if I call setStrategy("median") here, it means that replace null values of the each specified column with the median of that column

In [57]:
#Adding imputation columns to data frame
imp.fit(data).transform(data).show()

+----------+---------+----+-----------+
|first_name|last_name| age|age_imputed|
+----------+---------+----+-----------+
|    Franny|Dunkerton|  58|         58|
|      Alex| De Souza|  10|         10|
|      Alex| De Souza|  17|         17|
|      Kora|   Leaver|  33|         33|
| Miof mela| Rawcliff|  44|         44|
|   Sonnnie|  Tossell|  73|         73|
|      Alex| De Souza|  41|         41|
|     Wells|   Meharg|  70|         70|
|      Alex| De Souza|  55|         55|
|    Stavro|   Farrer|  31|         31|
|     Maura|  Dearing|  75|         75|
|     Alexa|  Howells|  12|         12|
|     Dulci|     Ross|  42|         42|
|    Loreen|   Storms|  77|         77|
|    Alisha|    Beeby|  22|         22|
|      Alex| De Souza|  11|         11|
|        Ed|   Craggs|  92|         92|
|    Myrvyn| Sterland|  94|         94|
|      Alex| De Souza|null|         51|
|     Tedra|   Toohey|  27|         27|
+----------+---------+----+-----------+
only showing top 20 rows

In [58]:
############################Filter Operations #################################################################

####people with age less than or equal to 40.
data.filter("age<=40").show() #showing people with age less than or equal to 40.

+----------+------------+---+
|first_name|   last_name|age|
+----------+------------+---+
|      Alex|    De Souza| 10|
|      Alex|    De Souza| 17|
|      Kora|      Leaver| 33|
|    Stavro|      Farrer| 31|
|     Alexa|     Howells| 12|
|    Alisha|       Beeby| 22|
|      Alex|    De Souza| 11|
|     Tedra|      Toohey| 27|
|  Kirsteni|     Dewdney| 32|
|  Emmanuel|       Tiebe| 38|
|    Lindsy|     Waywell| 19|
|    Bryana|  Lisciandri|  4|
|   Tiphani|      Oakton|  6|
|      Baxy|    Fruchter|  8|
|      Iona|     Silvers|  2|
|      Elle|     Simonel| 23|
|    Denice|Bouldstridge| 29|
|    Sharyl|       Benge| 27|
|      Alex|    De Souza| 29|
|     Jayme|    Westcott| 37|
+----------+------------+---+
only showing top 20 rows

In [59]:
data.filter("age<=40").select(['first_name','age']).show() #display only first_name and age columns of the data where the age is less than or equal to 40.

+----------+---+
|first_name|age|
+----------+---+
|      Alex| 10|
|      Alex| 17|
|      Kora| 33|
|    Stavro| 31|
|     Alexa| 12|
|    Alisha| 22|
|      Alex| 11|
|     Tedra| 27|
|  Kirsteni| 32|
|  Emmanuel| 38|
|    Lindsy| 19|
|    Bryana|  4|
|   Tiphani|  6|
|      Baxy|  8|
|      Iona|  2|
|      Elle| 23|
|    Denice| 29|
|    Sharyl| 27|
|      Alex| 29|
|     Jayme| 37|
+----------+---+
only showing top 20 rows

In [60]:
####people with age greater than 55.
data.filter("age > 55").show() #showing people with age greater than 55.

+----------+-----------+---+
|first_name|  last_name|age|
+----------+-----------+---+
|    Franny|  Dunkerton| 58|
|   Sonnnie|    Tossell| 73|
|     Wells|     Meharg| 70|
|     Maura|    Dearing| 75|
|    Loreen|     Storms| 77|
|        Ed|     Craggs| 92|
|    Myrvyn|   Sterland| 94|
|   Solomon|      Piner| 67|
|    Cordie|  Worsfield| 70|
|   Humfrey|Shelmardine| 73|
|    Noreen| Cordelette| 82|
|      Alex|   De Souza| 66|
|     Winni|  Rishworth| 66|
|     Jessa|    Pudsall| 91|
| Sebastian|    Cinavas| 70|
|      Alex|   De Souza|100|
|      Alex|   De Souza| 59|
|      Alex|   De Souza| 65|
|     Paige|   Charkham| 92|
|   Leodora|   Mariault| 65|
+----------+-----------+---+
only showing top 20 rows

In [61]:
data.filter(data['age']<=30).show() # display all rows where the age is less than or equal to 30.
data.show()
#AND OPERATION (&)
data.filter((data['age'] >= 18) & (data['age'] < 65)).show() ##display the rows where the age is between 18 and 65.

+----------+------------+---+
|first_name|   last_name|age|
+----------+------------+---+
|      Alex|    De Souza| 10|
|      Alex|    De Souza| 17|
|     Alexa|     Howells| 12|
|    Alisha|       Beeby| 22|
|      Alex|    De Souza| 11|
|     Tedra|      Toohey| 27|
|    Lindsy|     Waywell| 19|
|    Bryana|  Lisciandri|  4|
|   Tiphani|      Oakton|  6|
|      Baxy|    Fruchter|  8|
|      Iona|     Silvers|  2|
|      Elle|     Simonel| 23|
|    Denice|Bouldstridge| 29|
|    Sharyl|       Benge| 27|
|      Alex|    De Souza| 29|
|     Melba|      Astill| 26|
|   Ariella|  Kalinowsky| 10|
|      Dore|       Jiras| 28|
|   Zachery|       Wands| 23|
|     Genna|     Simpole| 11|
+----------+------------+---+
only showing top 20 rows

+----------+---------+----+
|first_name|last_name| age|
+----------+---------+----+
|    Franny|Dunkerton|  58|
|      Alex| De Souza|  10|
|      Alex| De Souza|  17|
|      Kora|   Leaver|  33|
| Miof mela| Rawcliff|  44|
|   Sonnnie|  Tossell|  73|
|      Alex| De Souza|  41|
|     Wells|   Meharg|  70|
|      Alex| De Souza|  55|
|    Stavro|   Farrer|  31|
|     Maura|  Dearing|  75|
|     Alexa|  Howells|  12|
|     Dulci|     Ross|  42|
|    Loreen|   Storms|  77|
|    Alisha|    Beeby|  22|
|      Alex| De Souza|  11|
|        Ed|   Craggs|  92|
|    Myrvyn| Sterland|  94|
|      Alex| De Souza|null|
|     Tedra|   Toohey|  27|
+----------+---------+----+
only showing top 20 rows

+----------+------------+---+
|first_name|   last_name|age|
+----------+------------+---+
|    Franny|   Dunkerton| 58|
|      Kora|      Leaver| 33|
| Miof mela|    Rawcliff| 44|
|      Alex|    De Souza| 41|
|      Alex|    De Souza| 55|
|    Stavro|      Farrer| 31|
|     Dulci|        Ross| 42|
|    Alisha|       Beeby| 22|
|     Tedra|      Toohey| 27|
|  Kirsteni|     Dewdney| 32|
|    Fowler|  Josskovitz| 51|
|  Emmanuel|       Tiebe| 38|
|      Alex|    De Souza| 52|
|    Lindsy|     Waywell| 19|
|      Elle|     Simonel| 23|
| Christian|      Espine| 54|
|    Denice|Bouldstridge| 29|
|      Alex|    De Souza| 59|
|      Alex|    De Souza| 46|
|    Sharyl|       Benge| 27|
+----------+------------+---+
only showing top 20 rows

In [62]:
#OR OPERATION (|)

data.filter((data['age'] >= 18) | (data['age'] >= 65)).show() ##display the rows where the age is either greater than or equal to 18 or greater than or equal to 65.

+----------+----------+---+
|first_name| last_name|age|
+----------+----------+---+
|    Franny| Dunkerton| 58|
|      Kora|    Leaver| 33|
| Miof mela|  Rawcliff| 44|
|   Sonnnie|   Tossell| 73|
|      Alex|  De Souza| 41|
|     Wells|    Meharg| 70|
|      Alex|  De Souza| 55|
|    Stavro|    Farrer| 31|
|     Maura|   Dearing| 75|
|     Dulci|      Ross| 42|
|    Loreen|    Storms| 77|
|    Alisha|     Beeby| 22|
|        Ed|    Craggs| 92|
|    Myrvyn|  Sterland| 94|
|     Tedra|    Toohey| 27|
|  Kirsteni|   Dewdney| 32|
|    Fowler|Josskovitz| 51|
|   Solomon|     Piner| 67|
|  Emmanuel|     Tiebe| 38|
|      Alex|  De Souza| 52|
+----------+----------+---+
only showing top 20 rows

In [63]:
#NOT CONDITION, ~ (NOT OPERATOR)

data.filter(~(data['age']<=50)).show() #show all data where the age is NOT smaller than or equal to 50. 
#Meaning that, show all data where the age is greater than 50.

+----------+-----------+---+
|first_name|  last_name|age|
+----------+-----------+---+
|    Franny|  Dunkerton| 58|
|   Sonnnie|    Tossell| 73|
|     Wells|     Meharg| 70|
|      Alex|   De Souza| 55|
|     Maura|    Dearing| 75|
|    Loreen|     Storms| 77|
|        Ed|     Craggs| 92|
|    Myrvyn|   Sterland| 94|
|    Fowler| Josskovitz| 51|
|   Solomon|      Piner| 67|
|      Alex|   De Souza| 52|
|    Cordie|  Worsfield| 70|
|   Humfrey|Shelmardine| 73|
|    Noreen| Cordelette| 82|
|      Alex|   De Souza| 66|
|     Winni|  Rishworth| 66|
|     Jessa|    Pudsall| 91|
| Sebastian|    Cinavas| 70|
| Christian|     Espine| 54|
|      Alex|   De Souza|100|
+----------+-----------+---+
only showing top 20 rows

In [64]:
#######################################GROUP BY AND AGGREGATE FUNCTIONS###########################################

In [65]:
from pyspark.sql import SparkSession

In [66]:
sparkSession = SparkSession.builder.appName('GroupByAndAggregate').getOrCreate()

22/09/22 08:43:17 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [67]:
sparkSession

In [68]:
sparkData = spark.read.csv('newData.csv',header = True, inferSchema = True)

In [69]:
sparkData.show()

+----------+--------------------+------+
|first_name|          department|salary|
+----------+--------------------+------+
|     Dalli|            Training| 20249|
|      Eddy|               Sales|  9744|
|      null|                null| 18969|
|  Camellia|               Sales| 10036|
|    Salomi|     Human Resources| 22309|
|       Gan|  Product Management| 12876|
|      null|                null| 15463|
|    Darice|             Support|  9225|
|     Gilli|             Support| 14674|
|    Ilario|               Legal| 13917|
|      Evin|            Services|  7607|
|    Vinita|Business Development|  8986|
|   Vernice|Research and Deve...|  null|
|    Wendie|           Marketing| 19097|
|      Juli|            Training| 20033|
|    Clarie|            Training|  null|
|      null|                null| 11041|
|       Lon|  Product Management|  8440|
|    Nelson|               Legal| 20257|
|  Halimeda|           Marketing|  7666|
+----------+--------------------+------+
only showing top 20 rows

In [70]:
sparkData.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: integer (nullable = true)

In [71]:
#Group By to find max salary
sparkData.groupBy('first_name').sum().show()

+----------+-----------+
|first_name|sum(salary)|
+----------+-----------+
|  Zebadiah|       null|
|  Thurston|      13618|
|Batholomew|      16338|
|  Shurwood|       null|
|   Donnell|       6456|
|     Shawn|      23009|
|      Obed|      18255|
|    Sianna|      11338|
|    Dorian|      12496|
|  Parsifal|       null|
|      Rubi|       7831|
|  Rosemary|      11756|
|      Ewan|      11247|
| Justinian|      12354|
|    Shadow|      21118|
|    Karmen|      14494|
|     Grace|       5538|
|    Salomi|      22309|
|  Gradeigh|      14939|
|     Kally|      10244|
+----------+-----------+
only showing top 20 rows

In [72]:
#Group By to find out which department gives the maximum salary 
sparkData.groupBy('department').sum().show()

+--------------------+-----------+
|          department|sum(salary)|
+--------------------+-----------+
|            Services|     680329|
|  Product Management|    1027624|
|               Sales|     927267|
|         Engineering|     894973|
|          Accounting|     995673|
|                null|    2607574|
|Business Development|     996446|
|Research and Deve...|     568926|
|               Legal|     944055|
|            Training|    1173475|
|           Marketing|     840636|
|             Support|     795747|
|     Human Resources|     766353|
+--------------------+-----------+

In [73]:
sparkData.groupBy('first_name').count().show() #print count for each first_name

+----------+-----+
|first_name|count|
+----------+-----+
|  Zebadiah|    1|
|  Thurston|    1|
|Batholomew|    1|
|  Shurwood|    1|
|   Donnell|    1|
|     Shawn|    1|
|      Obed|    1|
|    Sianna|    1|
|    Dorian|    1|
|  Parsifal|    1|
|      Rubi|    1|
|  Rosemary|    1|
|      Ewan|    1|
| Justinian|    1|
|    Shadow|    1|
|    Karmen|    1|
|     Grace|    1|
|    Salomi|    1|
|  Gradeigh|    1|
|     Kally|    1|
+----------+-----+
only showing top 20 rows

In [74]:
#counting how many people are in each department
sparkData.groupBy('department').count().show() #number of people in each department
sparkData.groupBy('department').mean().show() #number of people in each department
#Average salary for each department.

+--------------------+-----+
|          department|count|
+--------------------+-----+
|            Services|   50|
|  Product Management|   73|
|               Sales|   70|
|         Engineering|   71|
|          Accounting|   72|
|                null|  200|
|Business Development|   71|
|Research and Deve...|   56|
|               Legal|   66|
|            Training|   88|
|           Marketing|   61|
|             Support|   62|
|     Human Resources|   60|
+--------------------+-----+

+--------------------+------------------+
|          department|       avg(salary)|
+--------------------+------------------+
|            Services|14789.760869565218|
|  Product Management|15337.671641791045|
|               Sales|      14488.546875|
|         Engineering|14435.048387096775|
|          Accounting|15804.333333333334|
|                null|14900.422857142858|
|Business Development|14653.617647058823|
|Research and Deve...| 12367.95652173913|
|               Legal|           14985.0|
|            Training| 15440.46052631579|
|           Marketing|15567.333333333334|
|             Support|14468.127272727274|
|     Human Resources|14191.722222222223|
+--------------------+------------------+

In [75]:
sparkData.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|   13219078|
+-----------+

In [78]:
sparkData.groupBy('first_name').max().show()  #for showing max salary of each employee
sparkData.groupBy('first_name').min().show()  #for showing min salary of each employee
sparkData.groupBy('first_name').avg().show() #mean salary of each employee

+----------+-----------+
|first_name|max(salary)|
+----------+-----------+
|  Zebadiah|       null|
|  Thurston|      13618|
|Batholomew|      16338|
|  Shurwood|       null|
|   Donnell|       6456|
|     Shawn|      23009|
|      Obed|      18255|
|    Sianna|      11338|
|    Dorian|      12496|
|  Parsifal|       null|
|      Rubi|       7831|
|  Rosemary|      11756|
|      Ewan|      11247|
| Justinian|      12354|
|    Shadow|      21118|
|    Karmen|      14494|
|     Grace|       5538|
|    Salomi|      22309|
|  Gradeigh|      14939|
|     Kally|      10244|
+----------+-----------+
only showing top 20 rows

+----------+-----------+
|first_name|min(salary)|
+----------+-----------+
|  Zebadiah|       null|
|  Thurston|      13618|
|Batholomew|      16338|
|  Shurwood|       null|
|   Donnell|       6456|
|     Shawn|      23009|
|      Obed|      18255|
|    Sianna|      11338|
|    Dorian|      12496|
|  Parsifal|       null|
|      Rubi|       7831|
|  Rosemary|      11756|
|      Ewan|      11247|
| Justinian|      12354|
|    Shadow|      21118|
|    Karmen|      14494|
|     Grace|       5538|
|    Salomi|      22309|
|  Gradeigh|      14939|
|     Kally|      10244|
+----------+-----------+
only showing top 20 rows

+----------+-----------+
|first_name|avg(salary)|
+----------+-----------+
|  Zebadiah|       null|
|  Thurston|    13618.0|
|Batholomew|    16338.0|
|  Shurwood|       null|
|   Donnell|     6456.0|
|     Shawn|    23009.0|
|      Obed|    18255.0|
|    Sianna|    11338.0|
|    Dorian|    12496.0|
|  Parsifal|       null|
|      Rubi|     7831.0|
|  Rosemary|    11756.0|
|      Ewan|    11247.0|
| Justinian|    12354.0|
|    Shadow|    21118.0|
|    Karmen|    14494.0|
|     Grace|     5538.0|
|    Salomi|    22309.0|
|  Gradeigh|    14939.0|
|     Kally|    10244.0|
+----------+-----------+
only showing top 20 rows

In [85]:
#Apache Spark MLib
from pyspark.sql import SparkSession
sparkSession = SparkSession.builder.appName("SparkMLib").getOrCreate()

#reading the dataset
dataSet = sparkSession.read.csv('dataset.csv', header = True, inferSchema = True)

#displaying the dataset by using show() function
dataSet.show()

#printing dataset schema 
dataSet.printSchema()

from pyspark.ml.feature import VectorAssembler

featureAssembler = VectorAssembler(inputCols = ['id','age'], outputCol = "Independent Features") #combining two input features and outputing a single feature named as "Independent Features".

result = featureAssembler.transform(dataSet) #transforming the dataset

result.show() #for showing the transformed dataset

+---+---+
| id|age|
+---+---+
|  1| 94|
|  2| 88|
|  3| 35|
|  4| 34|
|  5| 52|
|  6| 43|
|  7| 64|
|  8| 58|
|  9| 58|
| 10| 46|
| 11| 42|
| 12| 55|
| 13| 43|
| 14| 35|
| 15| 32|
| 16| 85|
| 17| 36|
| 18| 12|
| 19|  6|
| 20| 23|
+---+---+
only showing top 20 rows

root
 |-- id: integer (nullable = true)
 |-- age: integer (nullable = true)

+---+---+--------------------+
| id|age|Independent Features|
+---+---+--------------------+
|  1| 94|          [1.0,94.0]|
|  2| 88|          [2.0,88.0]|
|  3| 35|          [3.0,35.0]|
|  4| 34|          [4.0,34.0]|
|  5| 52|          [5.0,52.0]|
|  6| 43|          [6.0,43.0]|
|  7| 64|          [7.0,64.0]|
|  8| 58|          [8.0,58.0]|
|  9| 58|          [9.0,58.0]|
| 10| 46|         [10.0,46.0]|
| 11| 42|         [11.0,42.0]|
| 12| 55|         [12.0,55.0]|
| 13| 43|         [13.0,43.0]|
| 14| 35|         [14.0,35.0]|
| 15| 32|         [15.0,32.0]|
| 16| 85|         [16.0,85.0]|
| 17| 36|         [17.0,36.0]|
| 18| 12|         [18.0,12.0]|
| 19|  6|          [19.0,6.0]|
| 20| 23|         [20.0,23.0]|
+---+---+--------------------+
only showing top 20 rows

In [95]:
#printing column names of the dataset
result.columns

['id', 'age', 'Independent Features']

In [96]:
finalData = result.select("Independent Features", "age") #only select the columns named age and Independent Features

In [97]:
finalData.show() #showing final data.

+--------------------+---+
|Independent Features|age|
+--------------------+---+
|          [1.0,94.0]| 94|
|          [2.0,88.0]| 88|
|          [3.0,35.0]| 35|
|          [4.0,34.0]| 34|
|          [5.0,52.0]| 52|
|          [6.0,43.0]| 43|
|          [7.0,64.0]| 64|
|          [8.0,58.0]| 58|
|          [9.0,58.0]| 58|
|         [10.0,46.0]| 46|
|         [11.0,42.0]| 42|
|         [12.0,55.0]| 55|
|         [13.0,43.0]| 43|
|         [14.0,35.0]| 35|
|         [15.0,32.0]| 32|
|         [16.0,85.0]| 85|
|         [17.0,36.0]| 36|
|         [18.0,12.0]| 12|
|          [19.0,6.0]|  6|
|         [20.0,23.0]| 23|
+--------------------+---+
only showing top 20 rows

In [105]:
from pyspark.ml.regression import LinearRegression

train,test = finalData.randomSplit([0.70,0.30]) 
#splitting the data as follows: 70 percent train data, 30 percent test data
#train-test split

regressor = LinearRegression(featuresCol = 'Independent Features', labelCol = 'age')
regressor = regressor.fit(train)






#Coefficients
regressor.coefficients

#Intercepts
regressor.intercept

22/09/22 14:46:28 WARN Instrumentation: [03287e32] regParam is zero, which might cause numerical instability and overfitting.

-1.0915536724298937e-14

In [106]:
#Predictions

predictionResults = regressor.evaluate(test)
predictionResults.predictions.show()

+--------------------+---+------------------+
|Independent Features|age|        prediction|
+--------------------+---+------------------+
|          [2.0,88.0]| 88| 88.00000000000003|
|          [9.0,58.0]| 58|58.000000000000014|
|         [11.0,42.0]| 42| 42.00000000000001|
|         [14.0,35.0]| 35|              35.0|
|         [15.0,32.0]| 32|              32.0|
|         [20.0,23.0]| 23|              23.0|
|         [30.0,25.0]| 25|              25.0|
|         [32.0,70.0]| 70| 70.00000000000001|
|         [35.0,98.0]| 98| 98.00000000000003|
|         [38.0,44.0]| 44| 44.00000000000001|
|         [40.0,80.0]| 80| 80.00000000000001|
|         [50.0,90.0]| 90| 90.00000000000003|
|         [52.0,38.0]| 38|              38.0|
|         [53.0,20.0]| 20|19.999999999999996|
|         [57.0,39.0]| 39|              39.0|
|         [59.0,43.0]| 43| 43.00000000000001|
|         [65.0,26.0]| 26|              26.0|
|         [67.0,44.0]| 44| 44.00000000000001|
|         [71.0,37.0]| 37|              37.0|
|         [74.0,58.0]| 58| 58.00000000000001|
+--------------------+---+------------------+
only showing top 20 rows

In [107]:
predictionResults.meanAbsoluteError,predictionResults.meanSquaredError #displaying mean absolute error and mean squared error in the predictions

(1.0654821432673388e-14, 1.7606295143388894e-28)